name: CI

on: push

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
          dotnet-version: |
            9.0.x

    - name: Restore dependencies
      run: dotnet restore PR-lab3-MemoryScramble.sln

    - name: Build with .NET
      run: dotnet build --configuration Release --no-restore PR-lab3-MemoryScramble.sln

    - name: Test XUnit
      run: dotnet test --configuration Release --no-restore --no-build PR-lab3-MemoryScramble.sln